
<% if @comment.errors.any? %>
    <h2><%= pluralize(@comment.errors.count, "error") %> prevented this comment from being saved:</h2>
    <ul>
    <% @comment.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
    </ul>
<% end %>

<%= form_with model: [@post, @comment] do |form| %>
<div class="field">      
    <%= form.label :comment %>
    <%= form.text_field :comment, class: "field-input" %>
</div>
<div class="actions">
    <%= form.submit class: "action-buttons" %>
</div>
<% end %>