<div><%= link_to image_tag(like.params[:like].user.image, class:"notification-profile-image"), user_path(like.params[:like].user) %></div>
<div class="notification-info"><%= like.type %> by <%= like.params[:like].user.username %> on &nbsp;<span class="notification-time"><%= formatted_time(like.created_at) %></span></div>
<div><%= link_to image_tag(like.params[:like].post.image, class:"notification-post-image"), post_path(like.params[:like].post) %></div>