<div class="container centered-form">
  <h1>Create a post</h1>

  <% if @post.errors.any? %>
  <h2><%= pluralize(@post.errors.count, "error") %> prevented this post from being saved:</h2>
  <ul>
    <% @post.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
  <% end %>

  <%= form_with model: @post do |form| %>
    <div class="field">
      <%= form.label :image%>
      <%= form.file_field :image, class: "field-input" %>
    </div>

    <div class="field">
      <%= form.label :caption %>
      <%= form.text_field :caption, class: "field-input" %>
    </div>

    <div class="actions">
      <%= form.submit class: "action-buttons" %>
    </div>
  <% end %>
</div>