<div class="container">
	<div class="post-show-container">
		<div class="post-user-info">
			*image* username
			<div class="post-show-buttons-container">      
			<%= link_to "Edit", edit_post_path(@post) %>
			<%= link_to "Delete", post_path(@post), data: {confirm: "Are you sure you want to delete this?"}, method: :delete %> 
		</div>  
		</div>
		<div class="post-show-image-container">
			<%= image_tag(@post.image, class: "post-show-image")%>
			<div class="post-icons">
				<%= image_tag("icons8-heart-96.png", class: "icon") %>
				<%= image_tag("icons8-speech-bubble.svg", class: "icon") %>
				<%= image_tag("icons8-paper-airplane-60.png", class: "icon") %>
			</div>
			<%= @post.caption%>
		</div> 

	</div>
</div>